<div class="stats">
  <mat-grid-list cols="3" rowHeight="150px">
    <mat-grid-tile colspan="1">
      <mat-list>
        <mat-list-item>Stats</mat-list-item>
        <mat-list-item>Stats</mat-list-item>
        <mat-list-item>Stats</mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <mat-list>
        <mat-list-item>Stats</mat-list-item>
        <mat-list-item>Stats</mat-list-item>
        <mat-list-item>Stats</mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <mat-list>
        <mat-list-item>Stats</mat-list-item>
        <mat-list-item>Stats</mat-list-item>
        <mat-list-item>Stats</mat-list-item>
      </mat-list>  
    </mat-grid-tile>
  </mat-grid-list>
</div>