<div class="inventory">
    <b>Inventory</b>
</div>
<div style="float: left;" class="col-12">
  <div>
    <mat-card>
      <!-- <mat-selection-list>
        <mat-list-option *ngFor="let drug of drugsinventory"> {{ drug.name }} </mat-list-option>
      </mat-selection-list> -->
      <mat-card-actions class="purchase-button">
          <div class="container">
              <div fxLayout="row" fxLayoutAlign="start center" class="content">
                <div class="blocks" fxFlex= "50%"></div>
                <button mat-raised-button color="accent" (click)='openDialog()'>Sell</button>
              </div>
          </div>
      </mat-card-actions>
    </mat-card>  
  </div>
</div>


