<mat-card class="jet-card col-12">
  <mat-card-header>
    <div class="jet-title col-12">
      {{ currentLocation }} Airport
    </div>
  </mat-card-header>
  <mat-card-content>
      <mat-radio-group class="jet-radio-group" [(ngModel)]="destination">
        <mat-radio-button class="jet-radio-button" color="primary" *ngFor="let location of locationNames" [value]="location">
          {{location}}
        </mat-radio-button>
      </mat-radio-group>
      <div class="destination col-12">Destination: {{destination}}</div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)='openDialog()'>JET!</button>
  </mat-card-actions>
</mat-card>
