<div class="drugsforsaleTitle">
    <b>Drugs For Sale</b>
</div>
<div style="float: left;" class="col-12">
  <div>
    <mat-card>
      <mat-selection-list [(ngModel)]="this.gameService.drugsToBuy" #dfs name="dfs">
        <mat-list-option *ngFor="let drug of this.gameService.drugsAndPrices" [value]="drug" [disabled]="drug.price > this.gameService.playerMoney"> {{drug.drug}} @ {{drug.price}}  </mat-list-option>
      </mat-selection-list>
      <mat-card-actions>
        <div class="container">
          <div fxLayout="row" fxLayoutAlign="start center" class="content">
            <div class="blocks" fxFlex= "80%"></div>
            <button mat-raised-button color="accent" (click)="openDialog()">Purchase</button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>