<div style="margin: 50px">
  <mat-card>
    <mat-card-header>
      Buy Drugs
    </mat-card-header>
    <mat-card-content style="margin: 10px;">
      <mat-radio-group class="buydrugsRadioGroup" [(ngModel)]="drugtobuy">
        <mat-radio-button color= "primary" *ngFor="let drug of drugstobuy" [value]="drug">
          {{ drug }}
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">Purchase</button>
    </mat-card-actions>
  </mat-card>
</div>