<div class='game-window col-12'>
  <div *ngIf="nameSubmitted == false">
    <div class="description">
      International Dopewars is a clone of the MS-DOS game, Drug Wars, by John E. Dell. It was developed in Angular.
      <br>
      The goal of the game is to pay off the loanshark and make as much money as possible before the end of the month.
      Buy low, sell high, and watch out for the cops!
    </div>  
    <form>
      <mat-form-field>
        <input class="entername" matInput (keydown.enter)="submitName()" [(ngModel)]="playername" name="playername" placeholder="Enter your name">
      </mat-form-field>
    </form>
    <button mat-raised-button class="mat-accent" (click)="submitName()">OK</button>
  </div>
  <div *ngIf="nameSubmitted == true">
    <div class="welcome">
      <h4>Welcome, {{ playername }}!</h4>
    </div>
    <mat-tab-group selectedIndex={{this.gameService.tabIndex}} (selectedTabChange)="tabChanged($event)">
      <mat-tab label={{this.gameService.currentLocation}} tabindex="0"><ngdw-currentlocation></ngdw-currentlocation></mat-tab>
      <mat-tab label="Jet!" tabindex="1"><ngdw-jet></ngdw-jet></mat-tab>
    </mat-tab-group>
  </div>
</div>
