/* You can add global styles to this file, and also import other style files */
@import url("//fonts.googleapis.com/css?family=Raleway");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';



.mat-toolbar {
  font-family: Raleway;
  font-size: 25pt;
  text-align: center;
}

.copyright {
  font-family: Raleway;
  font-size: 8pt;
  text-align: center;
  margin-top: 10px;
}

.footerlinks {
  font-family: Raleway;
  font-size: 10pt;
  text-align: center;
}

.about {
  font-family: Raleway;
  font-size: 12pt;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 30%;
}

.gamewindow {
  font-family: Raleway;
  font-size: 12pt;
  text-align: center;
}

.mat-raised-button {
  font-family: Raleway;
}

.title-center {
  margin: 0 auto;
}

.description {
  margin-top: 50px;
  margin-bottom: 50px;
}

.welcome {
  text-align: left;
}

.jetcard {
  width: 400px;
  align-self: center;
}

.jet-title {
  margin-bottom: 10px;
}

.jet-radio-button {
  margin: 5px;
}

.jet-radio-group {
  display: inline-flex;
  flex-direction: column;
}