/* You can add global styles to this file, and also import other style files */
@import url("//fonts.googleapis.com/css?family=Raleway");
@import '~@angular/material/theming';
@import './theme.scss';

* {
  box-sizing: border-box;
}

.mat-toolbar {
  font-family: Raleway;
  font-size: 25pt;
  text-align: center;
}

.copyright {
  font-family: Raleway;
  font-size: 8pt;
  text-align: center;
  margin-top: 10px;
}

.footer-links {
  font-family: Raleway;
  font-size: 10pt;
  text-align: center;
}

.about {
  font-family: Raleway;
  font-size: 12pt;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 30%;
}

.game-window {
  font-family: Raleway;
  font-size: 12pt;
}

.mat-raised-button {
  font-family: Raleway;
}

.title-center {
  margin: 0 auto;
  font-size: 20pt;
  font-family: Raleway;
  text-align: center;
}

.description {
  margin-top: 50px;
  margin-bottom: 50px;
}

.welcome {
  text-align: center;
}

.jetcard {
  width: 400px;
  align-self: center;
}

.jet-title {
  margin-bottom: 10px;
}

.jet-radio-button {
  margin: 5px;
}

.jet-radio-group {
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  font-family: Raleway;
}

.destination {
  margin-top: 10px;
  text-align: left;
}

.entername {
  font-family: Raleway;
}

.current-location-tab {
  font-family: Raleway;
}

.jetTab {
  font-family: Raleway;
}

.mat-accent {
  font-family: Raleway;
}

.stats {
  font-family: Raleway;
}

.statscard {
  width: 100%;
}

.drugsforsale {
  text-align: left;
  font-family: Raleway;
}

.drugsforsaleTitle {
  margin: 10px;
  font-family: Raleway;
  text-align: left;
}
.stats {
  font-family: Raleway;
}

.inventory {
  margin: 10px;
  font-family: Raleway;
  text-align: left;
}

.drugsinventory {
  font-family: Raleway;
  text-align: left;
}

// .customWidthClass{
//   flex: 0 0 75px;
// }

.buydrugsRadioGroup{
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  font-family: Raleway;
}

.selldrugsRadioGroup{
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  font-family: Raleway;
}

.buy-drugs-card {
  font-family: Raleway;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.location-info {
  text-align: center;
}
